body {
  background-image: url(../images/background.png);
}

/*body.without {
  background-image: url(../images/without-nested-fields-badge.png);
}

body.plain {
  background-image: url(../images/plain-nested-fields-badge.png);
}

body.table {
  background-image: url(../images/table-nested-fields-badge.png);
}
*/
div.actions {
  margin-top: 20px;
}

input {
  font-size: 14px;
}

table, table th, table td {
  border-collapse: collapse;
  border: 1px solid #cccccc;
}

table th, table td {
  background-color: #eeeeee;
  background-color: rgba(255,255,255,0.25);
  padding: 2px 6px;
}

table input,
table input:focus {
  background-color: transparent;
  font-size: 12px;
  border: none;
  outline: none;
}

.without fieldset,
.plain fieldset {
  border: none;
  border-bottom: 1px solid #cccccc;
}